@model IEnumerable<Capa_Entidad.Departamentos>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Listado de Departamentos</h2>
@section Styles{
    <link href="//cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css" rel="stylesheet" />
}
<p>
    <a class="btn btn-primary" href="@Url.Action("Create", "Departamentos")"><i class="glyphicon glyphicon-plus"></i> Crear Departamento</a>
</p>
<table class="table table-striped table-bordered table-hover"  id="myTable">
    <thead>
        <tr>
            <th>
                <label>Nombre Departamento</label>
            </th>
            <th>
                <label>Siglas Departamento</label>
            </th>
            <th>
                <label>Funciones</label>
            </th> 
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Siglas)
                </td>
                <td>
                    <a class="btn btn-primary btn-xs" title="Editar" href="@Url.Action("Editar", "Departamentos", new { id = item.Id_Dpto})"> <i class="glyphicon glyphicon-edit"></i></a>
                    <a class="btn btn-info btn-xs" title="Detalles" href="@Url.Action("GetDepartamento", "Departamentos", new { id = item.Id_Dpto})"> <i class="glyphicon glyphicon-pencil"></i></a>
                    <a class="btn btn-danger btn-xs" title="Eliminar" href="@Url.Action("Eliminar", "Departamentos", new { id = item.Id_Dpto})"> <i class="glyphicon glyphicon-trash"></i></a>
                </td>
            </tr>
         }
    </tbody>
</table>

@section scripts{
    <script src="//cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
    <script>
        $('#myTable').DataTable();
    </script>
}
