@model IEnumerable<Capa_Entidad.GeneracionSecuencia>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Reportes y Filtros De Documentos</h2>
<p>
    Este modulo se podra filtar de varias formas la cuales son: Por Docuemento Generado por Empleado, Por Siglas del Departamentos de Origen, Por el Departamento de Destino.
</p>
@section Styles{
    <link href="//cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css" rel="stylesheet" />
}
<table class="table table-striped table-bordered table-hover" id="myTable">
    <thead>
        <tr>
            <th>
                <label>Identificador Secuencia</label>
            </th>
            <th>
                <label>Identificador Empleado</label>
            </th>
            <th>
                <label>Siglas-DPTO Origen</label>
            </th>
            <th>
                <label>Departamento Destino</label>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Secuencia)
            </th>
            <th>
                <label>Fecha-Inicio</label>
            </th>
            <th>
                <label>Fecha-Fin</label>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id_Secuencia)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EmpleadoID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SiglasDpto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Destino)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Secuencia)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Fecha_Incio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Fecha_Fin)
                </td>
                <td>
                </td>
            </tr>
        }
    </tbody>

</table>
@section scripts{
    <script src="//cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
    <script>
        $('#myTable').DataTable();
    </script>
}
