@model Capa_Entidad.GeneracionSecuencia

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalles de la Secuencia</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <label>Idenficador Empleado</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmpleadoID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SiglasDpto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SiglasDpto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Destino)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Destino)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Secuencia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Secuencia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fecha_Incio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha_Incio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fecha_Fin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha_Fin)
        </dd>

    </dl>
</div>
<p>
    <a href="@Url.Action("Index","Secuencia")" class="btn btn-primary"><i class="glyphicon glyphicon-menu-left"></i> Regresar al Listados</a>
</p>
